html {
    font-family: Arial;
    min-width: 1150px;
}

body {
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

#logo {
    margin-right: 45%;
    margin-left: 2%;
    font-weight: bold;
    font-size: 40px;
    width: 10%;
}

#menu-icon {
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    text-align: right;
    margin-right: 50px;
}

#tab-bar {
    display: flex;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: darkgrey;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

.tab-button {
    color: darkgrey;
    margin-right: 40px;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

#chosen {
    color: black;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
}

#search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: black;
}

#search-bar input {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    color: black;
    height: 25px;
    margin-bottom: 10px;
}