@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  min-width: 1150px;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }

/* Main content */
main {
    display: flex;
    flex: 1;
    padding: 20px;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    padding: 20px;
    background-color: #778DA9;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .sidebar h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }

  .sidebar input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Content */
  .content {
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;

    font-size: 12px;
  }
  
  .lab-title {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }

    .search-bar {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    
    .search-bar input {
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin-right: 10px;
    }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #778DA9;
    border-radius: 10px;
    overflow: hidden;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #778DA9;
  }
  
  table thead {
    background-color: #f0f0f0;
  }

  .item-name {
    width: 45vw;
  }
  
  .tag {
    background-color: #e0e7ff;
    padding: 5px 10px;
    border-radius: 15px;
    color: #5764c6;
  }