html {
    font-family: Arial;
    min-width: 1150px;
}

body {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro {
    margin: auto;
    margin-top: 100px;
    background-color: #78849E;
    width: 93%;
    border-radius: 20px;
    height: 900px;
}

#title-left {
    float: left;
    margin-left: 5%;
    margin-top: 65px;
    width: 65%;
}

#introduction-text {
    font-size: 40px;
    margin-bottom: 0;
}

#title-right {
    float: right;
    margin-right: 5%;
    margin-top: 300px;
    width: 25%;
}

#slogan {
    float: right;
    text-align: right;
    font-size: 40px;
}

#title-sign-up-button {
    float: right;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    height: 35px;
    width: 200px;
}

h3 {
    font-size: 100px;
    margin: 0;
    color: white;
}

.first-letter {
    color: black;
}

#title-image {
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
    margin-top: 60px;
    border-radius: 20px;
    height: calc(0.75 * var(--element-width));
    border: 2px;
    border-style: solid;
    border-color: black;
}

.description {
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.image-display {
    display: flex;
}

.title-text {
    margin-top: auto;
    margin-bottom: auto;
    justify-items: center;
    font-size: 70px;
    font-weight: bold;
    background-color: #78849E;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#title-features-button {
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    height: 35px;
    width: 275px;
}

#checkout-image {
    width: 70%;
    margin-left: 5%;
    margin-top: 60px;
    border-radius: 20px;
    height: calc(0.75 * var(--element-width));
    border: 2px;
    border-style: solid;
    border-color: black;
    float: right;
}

#account-hierarchy-image {
    width: 65%;
    margin-right: 5%;
    margin-top: 60px;
    border-radius: 20px;
    height: calc(0.75 * var(--element-width));
    border: 2px;
    border-style: solid;
    border-color: black;
    float: left;
}

#item-detail-image {
    width: 60%;
    margin-left: 5%;
    margin-top: 60px;
    border-radius: 20px;
    height: calc(0.75 * var(--element-width));
    border: 2px;
    border-style: solid;
    border-color: black;
    float: right;
}

#getting-started-button {
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    background-color: black;
    height: 50px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
}