@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Below are used on every page.*/
html {
    font-family: 'Inter', sans-serif;
    min-width: 1150px;
}

body {
    margin: 0;
    color: black;
    font-weight: bold;
}

/* Navigation Bar Styling: */
#navbar {
    display: flex;
    /* justify-content: space-between; */
    width: 99vw;
    position: fixed;
    background-color: white;
}

#logo {
    margin-right: auto;
    margin-left: 2%;
    font-weight: bold;
    font-size: 40px;
    width: 10%;
}

.menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 38px;
    min-width: 80px;
}

.nav-button {
    height: 35px;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: min(150px, 10%);
    margin-left: 2%;
}

#login-button {
    background-color: #78849E;
}

#sign-up-button {
    background-color: black;
    margin-right: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}