/* For styling used in multiple pages */

/* Navigation Bar Styling: */
#navbar {
    display: flex;
    justify-content: left;
    width: 100%;
    position: fixed;
    background-color: white;
}

#logo {
    margin-right: 45%;
    margin-left: 2%;
    font-weight: bold;
    font-size: 40px;
    width: 10%;
}

.nav-text {
    font-size: 18px;
    font-weight: bold;
    width: 7%;
    margin-left: 2%;
    margin-top: 38px;
    min-width: 80px;
}

.nav-button {
    height: 35px;
    margin-top: 30px;
    width: 10%;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    margin-left: 2%;
}

#login-button {
    background-color: #78849E;
}

#sign-up-button {
    background-color: black;
}
