@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  min-width: 1150px;
}

body {
    margin: 0;
    margin-top: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);

  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
}

#menu-icon {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  top: 80%;
  right: 30%;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
}

.show {
  display: block;
}

h3 {
  color: black;
  display: block;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

a {
  color: black;
  display: block;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 15px;
}

#logout {
  color: black;
  display: block;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}

/* Main content */
main {
  display: flex;
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 200px;
  height: 100vh;
  padding: 20px;
  background-color: #778DA9;
  border-radius: 10px;
  margin-right: 20px;
  overflow: visible;
}

#sidebar-title {
  margin-top: 10px;
  border-bottom: 1px solid black;

  font-weight: 600;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding-left: 5px;
}

.sidebar li {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  position: relative;
  /* border-radius: 5px; */
}

.sidebar input {
  appearance: none;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  border: 1px solid black;
  background-color: #778DA9;
  margin-right: 10px;
}

.sidebar label {
  position: absolute;
  left: 10px;

  width: 95%;
  padding-left: 20px;

  font-size: 16px;

  cursor: pointer;
}

.sidebar input:checked {
  background-color: #323F50;
  border-color: #323F50;
  z-index: 1;
}

.sidebar input:checked + label {
  border: 1px solid black;
  background-color: #778DA9;
  padding: 5px;
  padding-left: 20px;
  border-radius: 5px; 
  color: black;

  font-weight: 600;
}

.sidebar input:hover {
  border-color: #333;
}

/* Content */
.content {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;

  font-size: 12px;
}

.lab-title {
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.search-bar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #778DA9;
  border-radius: 10px;
  overflow: hidden;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #778DA9;
}

table thead {
  background-color: #f0f0f0;
}

.item-name {
  width: 45vw;
  cursor: pointer;
}

td {
  cursor: pointer;
}

.tag {
  background-color: #e0e7ff;
  padding: 5px 10px;
  border-radius: 15px;
  color: #5764c6;
}

.right-sidebar {
  border-left: black;
  border-left-style: solid;
  border-left-width: 1px;
  width: 50%;
  display: none;
  flex-direction: column;
}

#show {
  display: flex;
}

.right-sidebar div {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
}

#checkout-button {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: none;
  border-radius: 20px;
  background-color: lightgreen;
  margin-top: 10px;
  height: 25px;
  cursor: pointer;
}

#edit-button {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: none;
  border-radius: 20px;
  background-color: skyblue;
  margin-top: 10px;
  height: 25px;
  cursor: pointer;
}

#remove-button {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: none;
  border-radius: 20px;
  background-color: red;
  margin-top: 10px;
  height: 25px;
  cursor: pointer;
}

#item-description {
  flex-direction: column;
}

#go-back {
  margin: 0;
  margin-left: 10px;
  font-size: 50px;
  font-weight: normal;
  cursor: pointer;
}

#item-title-text {
  font-size: 25px;
  font-weight: bold;
}

.item-labels {
  font-size: 15px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 150px;
}

#description-title {
  margin-top: 10px;
}

.item-status {
  font-weight: normal;
  background-color: lightgray;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
}

#item-quantity-text {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 130px;
  text-align: center;
}

#item-description-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  font-size: 13px;
}

