#tab-bar {
    display: flex;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: darkgrey;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

.tab-button {
    color: darkgrey;
    margin-right: 40px;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

#chosen {
    color: black;
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
}

#search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: black;
}

#search-bar input {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;
    color: black;
    height: 25px;
    margin-bottom: 10px;
}

table {
    width: 90%;
    margin: auto;
    border-spacing: 0;
    border-collapse: separate;
    border: 0.5px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
}

table thead {
    background-color: #f0f0f0;
}

table th {
    padding: 10px;
    text-align: left;
    border: 0.5px;
    border-style: solid;
    border-color: darkgray;
}

table td {
    padding: 10px;
    text-align: left;
    border: 0.5px;
    border-style: solid;
    border-color: darkgray;
    height: 20px;
    width: 15%;
    white-space: nowrap;
}

.item-name {
    width: 30%;
}

.status {
    padding: 10px;
    border-radius: 20px;
}